<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<title>IRIS - {% block title %}Case{% endblock %} {% if session['current_case'].case_id %}| {{ session['current_case'].case_name }}  {% endif %}</title>
	<meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
	<link rel="icon" href="/static/assets/img/logo.ico" type="image/x-icon"/>
	{% if demo_domain %}
		<script defer data-domain="{{demo_domain}}" src="https://analytics.dfir-iris.org/js/plausible.js"></script>
	{% endif %}

	<link rel="stylesheet" href="/static/assets/dist/main.iris.css">

    {% block stylesheets %}{% endblock stylesheets %}
	{% if current_user.in_dark_mode %}
		<link rel="stylesheet" href="/static/assets/dist/dark-theme.iris.css">
	{% endif %}
</head>
<body>
	<div class="wrapper {% block layout %}{% endblock layout %} {% include 'includes/sidebar_handler.html' %}">


		{% block content %}{% endblock content %}

		{% include 'includes/quick-sidebar.html' %}
		{% include 'includes/datastore-sidebar.html' %}
		<div id="minimized_modal_box" class="col-10 col-xs-11 col-sm-4 minimized_modal shadow-lg" style="display:none;" title="Maximize modal" onclick="modal_maximize();">
			<div class="row mt-3 mb-3">
				<div class="col-10 d-flex">
					<span data-notify="title" id="minimized_modal_title" class="align-self-center"></span>
				</div>
				<div class="col-1 d-flex" style="padding-left:5px;">
					<i class="fa-solid fa-arrow-up-right-dots align-self-center"></i>
				</div>
			</div>
		</div>
	</div>
	{% block javascripts %}{% endblock javascripts %}
</body>
</html>